// =====================================================================
// Variables
// =====================================================================

// Animation
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);

$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);

$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);

$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);

$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

// Colours
$color-primary: #8c9aa7;
$color-white: #ffffff;
$color-grey-lighter: #f2f2f2;
$color-grey-light: #d8d8d8;
$color-grey: #5b5b5b; // #c3c1c3;
$color-greyer: #959695;
$color-grey-dark: #505050;
$color-grey-darker: #404040;
$color-black: #000000;
$color-blue: #00428e;
$color-offblack: #353535;
$color-offblacker: #2a2a2a;
$color-error: #ff001f;
$color-pink: #d587ff;
$color-pink-dark: #a540dc;
$color-purple: #896cff;
$color-purple-dark: #492daa;
$color-orange: #f5a623;
$color-orange-dark: #f56522;
$color-red:#b22825;
$color-offset: 3%;

// Fonts
$font-base-size: 20;

// General
$state-hover: 5%;

// Specifics

// Theme mode
$is-darkmode: false;

$color-darkmode-bg: $color-primary !default;
$color-darkmode-text: $color-offblack !default;
$color-hue: 0deg !default;

@if ($is-darkmode) {
  $color-darkmode-bg: $color-offblacker;
  $color-darkmode-text: $color-white;
}

// Theme original
$color-tint: $color-blue;
$color-brand: $color-pink;
$color-brand-secondary: $color-pink-dark;
$color-hue: -120deg;

// Theme purple
$color-tint: $color-purple-dark;
$color-brand: $color-purple;
$color-brand-secondary: $color-purple-dark;
$color-hue: -140deg;

// Theme orange
$color-tint: $color-orange-dark;
$color-brand: $color-white;
$color-brand-secondary: $color-grey;
$color-hue: 0deg;
